body{
    font-family: Montserrat;
     font-family: "Ysabeau SC", sans-serif;

 
}
*{
    box-sizing:border-box;
}
h1,h2,h3,h4{
    font-family:"Ysabeau SC", sans-serif!important;

}

h2{
    text-transform:capitalize;
}
h3{
    font-weight:600;
}
li,p:not(.main-text){
    color:#374151;
    font-size:1.3rem;
    
}
ul,li{
    padding:0.5rem;
}

.case-study{
    max-width:1300px;
    margin: 0 auto;
    padding:40px 20px;
   
}
.header{
   display:flex;
   flex-direction:column;
   align-items:center;
   gap:1rem;
   background:#05016A;
   color:#fff;
}
section{
    max-width:100%;
    width:100%;
    padding:30px 40px;
    margin-bottom:1rem;
    border-radius:7px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    
    
}
.main-text{
    font-size:1.5rem;
}

h2,h3,h4{
    color:#05016A;
}
.image-box{
    
    display:flex;
    flex-direction:column;
    gap:1rem;
}
p{
    max-width:100%;
    width:100%;
    line-height: 33px;
}
.image img{
   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
}
.design-system-box{
    background:skyblue;
    padding:40px 25px;
    margin-bottom: 1rem;
}
button{
    border:none;
    max-width:150px;
    width:100%;
    height:40px;
   }

   .color-box-wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    }

    body{
        background-image: url('images/skyflight');
        background-repeat:no-repeat;
        background-position:cover;
        height:100vh;
        width:100%;
        
    }
.hexcode{
    font-weight:600;
    display:block;
}
.color-box{
   
    max-width:500px;
    width:100%;
    border-radius:12px;
    padding:35px;
}
.box-title{
    text-transform:capitalize;
    font-weight:700;
}

button.status{
    background:#16A34A
}


button.white{
    background:#fff;
    border:1px solid black;
}
button.black{
    background:#000000;
}
button.grey{
    background:#D9D9D9;
}
button.primary{
    background:#05016A;
}
button.secondary{
    background:#A11616;
}
.wireframe-section{
    display:flex;
    width:100%;
    gap:1rem;
    justify-content: center;
    gap:4rem;
}
.logo{
    font-family:Verdana;
    font-size:36px;
    font-weight:900;
}
.process p{
    margin-bottom:1rem;
   
    
}