.header{
    background:#05016A;
    padding: 24px;
   
}
.hero{
    background:#fff;
    padding:32px 24px;
    text-align:center;
}
h1{
    font-size:32px;
    color:#050161;
}
.hero-para{
    font-size:1rem;
    line-height:25px;
    margin:0 auto;
    
}
p{
    font-family:inter;
    font-size:1rem;
    line-height:25px;
}
.section-title{
    color:#A11616;
    font-family:verdana;
    font-weight:900;
    text-align:center;
}
.booking-summary, .booking-table, .help-section{
padding:32px 24px;
   
    background:#fff;
}




.booking-summary td{
 
    width:600px;
}
.btn{
    background:#05016A;
    color:#fff;
    padding:24px 12px;
    width:239px;
    text-transform:capitalize;
    cursor:pointer;
    border-radius:12px;
}

a{
    text-decoration:none;
}
.footer{
    background:#05016A;
    color:#fff;
    padding:32px 24px;
}
.footer-heading{
    color:#fff;
    font-weight:700;
    font-size:1rem;
}
.small-text{
    font-weight:lighter;
    font-size:12px;
}

.contact-btn{
    border:1px solid black;
    color:#05016A;
    border-radius:12px;
    background:white;
    width:162px;
    padding:24px 12px;
    text-transform:capitalize;
}
.ref{
    font-weight:900;
    color:#05016A;
    font-size:1.6rem;
}
.booking-table{
    background:#fff;
}
.label, .value{
   padding:8px 0;
    text-transform:capitalize;
 
}
tr{
    width:600px;
}
.value{
    font-weight:700;
    text-transform:capitalize;
}
.value.time{
    font-size:1.5rem;
    color:#05016A;
    font-weight:900;
}
.button-section{
    padding:32px 24px;
  
}
.help-section td{
    padding:17px 0;
}