#online-check-in span{
    font-weight: 900;
}
*{
    box-sizing: border-box;
}

body{
     background-image: url("./images/flight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ticket-container{
    background: #F8F9FA!important;
    padding:2rem;
 box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
   
}
.header{
    background:#05016A;
    padding: 24px;
   }

   .hero{
   
    padding:32px 24px;
    text-align:center;
}


.section{
    border:3px solid yellow;
}
#home h1{
    font-size:32px;
    color:#fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 26px;
}
h1:not(#home h1){
    color:#05016A;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 26px;
}
.intro-text{
    color:#fff;
}
.hero-para{
    font-size:1rem;
    line-height:40px;
    margin-bottom:1rem;
   
 
}
.hero-para.ticket{
    font-size:1.3rem;
    margin-bottom:1rem;
}
.sub-heading{
    font-family:inter;
    font-weight:600;
    font-size:18px;
    
}

.hero p{
   
      padding-bottom: 26px;
}
p,.value{
   font-family:inter;
  
    font-size:1rem;
    line-height:25px;
}
.label{
    font-family:inter;
    font-size:15px;
    font-weight:600;
}
.section-title{
    color:#A11616;
    font-family:Verdana, Geneva,  sans-serif;
    font-weight:900;
    
}
.booking-table, .booking-summary, .help-section,.hero{
padding:32px 24px;
   background:#fff;
   border-radius:12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    
}

.social-media{
    display: flex;
   justify-content: center;
   gap: 2rem;
}
.social-media i{
  font-size:2rem;
}

.footer{
    border-radius:12px;
}
.list{
    font-family:inter;
    font-size:1rem;
    text-transform:capitalize;
    padding:17px 0px;
}

.booking-summary{
    background:#fff;
   
}
.hero{
    background:white;
}

.btn{
    background:#05016A;
    color:#fff;
    font-weight:600;
    font-family:inter;
    padding:24px 12px;
    max-width:239px;
    width:100%;
    text-transform:capitalize;
    cursor:pointer;
    border-radius:12px;
    display: inline-block;
    text-align: center;
}

a{
    text-decoration:none;
}
.footer{
    background:#05016A;
    color:#fff;
    padding:32px 24px;
}
.footer-heading{
    color:#fff;
    font-weight:600;
    font-size:1rem;
    font-family:inter;
}
.footer-text{
    font-family:inter;
    font-size:14px;
    font-weight:400;
    
}
.small-text{
    font-weight:400;
    font-size:12px;
}
section{
    background:#fff;
}
.wrapper{
    background:white;
   margin-bottom:2rem;
}
.contact-btn{
    border:1px solid black;
    color:#05016A;
    font-weight: 600;
    font-size:1rem;
    font-family:inter;
    border-radius:12px;
    background:white;
    max-width:162px;
    padding:24px 12px;
    text-transform:capitalize;
    display:inline-block;
    text-align: center;
}
.ref{
    font-weight:900;
    color:#05016A;
    font-size:1.6rem;
}
.booking-table{
 
}
.label, .value{
   padding:8px 0;
    text-transform:capitalize;
 
}

.info-title{
    font-size:1.5rem!important;
    font-weight:900;
}
.ref-num{
    font-weight:900;
    font-size:3rem;
    color:#A11616;
}
.value{
    font-weight:700;
    text-transform:capitalize;
}
.value.time, .label.time{
    font-size:1.5rem;
    color:#05016A;
    font-weight:900;
    font-family:verdana;
}
.button-section{
    padding:32px 24px;
  
}
.help-section td{
    
}
.flight-infos{
    display:flex;
    justify-content:space-between;
    border:2px solid black;
    min-height:300px;
    padding:1rem;
}
.flight-infos >article{
    width:200px;

    display:flex;
    flex-direction:column;
   
}
#ticket > p{
    font-family:inter;
}
#ticket h2{
    font-family:verdana;
    font-size:1.5rem;
}
.flight{
    margin-bottom:1rem;
}

#ticket, #online-check-in{
    max-width:800px;
    width:100%;
    background:#fff;
    margin:auto;
}

#ticket p{
    font-size:13px;
   
}
#ticket span:not(.ref-num){
    display:block;
    font-weight:700;
}
.receipt-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
}
.receipt-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    background:skyblue;
}
.receipt-label{
    text-transform:capitalize;
    font-weight:900;
}
.flight-infos{

}
.flight-infos article i{
    color:#A11616;
}
.flight-infos article >p{
    display:flex;
    align-items:center;
    gap:1rem;
}
.ticket-num, .name{
    font-size:1.5rem;
    font-weight:700;
}
.contact-box{
   
    margin-top:auto;
}

.ticket-num{
    color:#A11616;
    font-size:rem;
}
.total-amount{
    font-size:2rem;
    font-weight:900;
}
.total h3{
    display:flex;
    font-size:2rem;
    gap:0.5rem;
    align-items: center;
    font-family: verdana;
}

#online-check-in{
    background:#F8F9FA;
    width:100%;
}
#online-check-in section{
    padding:1rem;
    max-width:800px;
    width:100%;
   
}
.confirmation-box{
    display:flex;
    gap:1rem;
}

#home {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f5f6fa;
}
#home h1{
    text-align:center;
    
}

#home > p {
    text-align: center;
    max-width: 600px;
    margin: 20px auto 40px;
    line-height: 1.6;
}

.email-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card > p{
    text-align:center;
    
}

.card {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
}

.back-link {
    display: inline-block;
    margin: 20px;
    color: #05016A;
    text-decoration: none;
    font-weight: 600;
    color:#fff;
    font-family: verdana;
}
.email-container{
    max-width:600px;
    width:100%;
}

#home footer{
    background: #05016A;
    padding:1rem;
    max-width:100%;
    width:100%;
    
}
#home .footer-content{
    color:#fff;
    font-size:14px;
}
#home .copyright{
    font-weight:lighter;
    font-size: 12px;
}
#home {
  min-height: 100vh!important;
  display: flex;
  padding:0!important;
  flex-direction: column;

}


main {
  flex: 1;
}


@media screen and (max-width:600px){
    footer{
        width:100%;
    }
   
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .hero-para {
        font-size: 14px;
    }

    .label,
    .value {
        font-size: 13px;
    }

    .sub-heading {
        font-size: 14px;
    }

    .btn,
    .contact-btn {
        font-size: 14px;
    }


    
    .email-container{
        width:100%!important;
       
    }
  
    .flight-infos{
        display:flex;
        flex-direction:column;
        margin-bottom:1rem;
    }
    .receipt-section{
        display:flex;
        flex-direction:column;
        gap:1rem;
        padding:0;
    }
    .ref-num{
        font-size:2rem;
    }
    .flight-infos h2, .receipt-section h2{
        font-size:1.5rem;
    }
    .receipt-box{
        display:flex;
        flex-direction: column;
        gap:0.5rem;
    }

    #home .header{
        width:100%;
       
       }
    a.btn{
        width:70%!important;
        margin:auto;
    }
.card h2{
  
}
    .email-cards{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .cards{
        width:100%;
    }
    
    .header{
        width:100%;
    }
.hero{
    width:100%
}
h1{
    font-size:1.5rem;
}
.booking-details,
    .flight-summary,
    .help-section {
 
        padding: 20px 15px!important;
    }


.flight-info {
        display: block;
    }

    a.btn {
        width: 100%;
        text-align: center;
    }
img {
    max-width: 100%;
    height: auto;
}

    .booking-table, .booking-summary, .help-section{
        width:100%;
        padding:15px;
    }

    .footer {
        padding: 20px 15px;
        
        width:100%;
    }
}

